{%
  set classes = [
    'node',
    'node-' ~ node.bundle|clean_class,
    not node.isPublished() ? 'node--unpublished',
    'shadow',
    'p-3',
    'mb-5',
    'bg-white',
    'rounded',
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="article-inner">
    <header>
      <h1>{{ node.title.value }}</h1>
    </header>
    <hr />
    {{ content.field_body.0 }}
  </div>
</article>