     <footer class="col footer-main" role="contentinfo">
      <div class="container">
        <ul>
          <li><a href="/" title="Home">Home</a></li>
          <li><a href="/misc/about-us" title="About Us">About Us</a></li>
          <li><a href="/misc/contact" title="Contact Us">Contact Us</a></li>
          <li><a href="/misc/advertise" title="Advertise">Advertise</a></li>
          <li><a href="/misc/web-site-terms-and-conditions-use" title="Terms Of Use">Terms of Use</a></li>
          <li><a href="/rss" title="RSS">RSS</a></li>
          <li><a href="misc/help" title="Help">Help</a></li>
        </ul>
        <span class="copyright">{{ content.footer_text|raw }}</span>
      </div>
    </footer>   