    <header class="col header-main" role="banner">
      <div class="container">
        <h1 class="logo"><a href="/"><img src="/themes/custom/thedish/assets/images/logo.png" alt="The Georgetown Dish"></a></h1>
        <nav>
          <ul>
            <li><a href="#">Georgetown Current</a></li>
            <li><a href="#">The Scoop</a></li>
            <li><a href="#">Mixing Bowl</a></li>
            <li><a href="#">Watched Pot</a></li>
            <li><a href="#">Fondue Pot</a></li>
            <li><a href="#">Espresso Cup</a></li>
          </ul>
        </nav>
        <a href="#" class="search">Search</a>
      </div>
    </header>